# Compiled python modules
*.pyc

# Setuptools distribution folder
/dist/

# Python egg files
/*.egg-info
/*.egg

# Linux backup files
*~

# Unversioned files
.idea/
__pycache__/
arabicscript/ArabicShaping/

# Unnecessary files
personal_readme.txt
.dropbox
desktop.ini
